<div class="login-container">

  <p-card header="Login" subheader="Acesse o sistema de gestão">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="mb-4">
        <p-floatLabel>
          <input
            pInputText
            id="email"
            formControlName="email"
            class="w-full"
            [ngClass]="{'ng-invalid ng-dirty': email?.invalid && (email?.dirty || email?.touched)}"
          />
          <label for="email">E-mail</label>
        </p-floatLabel>

        <small *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="p-error mt-1 d-block">
          <div *ngIf="email?.errors?.['required']">
            O e-mail é obrigatório.
          </div>
          <div *ngIf="email?.errors?.['email']">
            Por favor, insira um e-mail válido.
          </div>
        </small>
      </div>

      <p-button
        label="Entrar"
        type="submit"
        [disabled]="loginForm.invalid"
        styleClass="w-full">
      </p-button>

    </form>
  </p-card>

</div>
