<p-toast></p-toast>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<header class="navbar" *ngIf="isAuthenticated$ | async">
  <div class="navbar-brand">
    <img src="/imagens/SENAI_logo_2024.png" alt="Logo da Empresa" class="navbar-logo">
    <h1>Gestão de Pessoal</h1>
  </div>

  <nav>
    <a routerLink="/funcionarios"
       routerLinkActive="active-link"
       [routerLinkActiveOptions]="{exact: true}">Funcionários</a>
    <a routerLink="/departamentos"
       routerLinkActive="active-link">Departamentos</a>
  </nav>

  <div class="navbar-user-info" style="margin-left: auto; display: flex; align-items: center; color: white;">
    </div>

</header>

<main class="container">
  <router-outlet></router-outlet>
</main>
