
.filtros-container {
  display: flex;
  gap: 15px;
  align-items: flex-end;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.filtros-container .form-group {
  margin-bottom: 0;
}

.tag {
  padding: 5px 10px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 0.8rem;
  color: white;
}

.tag-ativo {
  background-color: #28a745;
}

.tag-inativo {
  background-color: #dc3545;
}
