<p-toast></p-toast>
<p-panel [header]="formTitle">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="p-fluid grid">
      <div class="field col-12 md:col-8">
        <label for="nome">Nome</label>
        <input id="nome" type="text" pInputText formControlName="nome" />
        <small class="p-error" *ngIf="isFieldInvalid('nome')">
          Nome é obrigatório (mín. 3 caracteres).
        </small>
      </div>

      <div class="field col-12 md:col-4">
        <label for="email">Email</label>
        <input id="email" type="text" pInputText formControlName="email" />
        <small class="p-error" *ngIf="isFieldInvalid('email')">
          Email é obrigatório e deve ser válido.
        </small>
      </div>

      <div class="field col-12 md:col-6">
        <label for="cargo">Cargo</label>
        <input id="cargo" type="text" pInputText formControlName="cargo" />
        <small class="p-error" *ngIf="isFieldInvalid('cargo')">
          Cargo é obrigatório.
        </small>
      </div>

      <div class="field col-12 md:col-6">
        <label for="departamentoId">Departamento</label>
        <p-dropdown
          id="departamentoId"
          [options]="(departamentos$ | async)!"
          optionLabel="nome"
          optionValue="id"
          formControlName="departamentoId"
          placeholder="Selecione o departamento"
          [filter]="true"
          filterBy="nome"
        ></p-dropdown>
        <small class="p-error" *ngIf="isFieldInvalid('departamentoId')">
          Departamento é obrigatório.
        </small>
      </div>
      <div class="field col-12 md:col-6">
        <label for="salario">Salário</label>
        <p-inputNumber
          id="salario"
          formControlName="salario"
          mode="decimal"
          locale="pt-BR"
          [minFractionDigits]="2"
          [maxFractionDigits]="2"
          prefix="R$ "
        ></p-inputNumber>
        <small class="p-error" *ngIf="isFieldInvalid('salario')">
          Salário é obrigatório e deve ser maior que zero.
        </small>
      </div>

      <div class="field col-12 md:col-6">
        <label for="dataAdmissao">Data de Admissão</label>
        <p-calendar
          id="dataAdmissao"
          formControlName="dataAdmissao"
          dateFormat="dd/mm/yy"
          [showIcon]="true"
        ></p-calendar>
        <small class="p-error" *ngIf="isFieldInvalid('dataAdmissao')">
          Data de admissão é obrigatória.
        </small>
      </div>
    </div>

    <div classs="flex justify-content-end gap-2 mt-4">
      <p-button
        label="Cancelar"
        icon="pi pi-times"
        styleClass="p-button-secondary"
        (click)="cancelar()"
      ></p-button>
      <p-button
        type="submit"
        label="Salvar"
        icon="pi pi-check"
        [disabled]="form.invalid"
        styleClass="ml-2"
      ></p-button>
    </div>
  </form>
</p-panel>
